{% extends "base.html" %}
{% block content %}
<h1>Post Details</h1>
<p>{{ post.content }}</p>
<p>By {{ post.user.username }} on {{ post.created_at }}</p>
<p>Tags:
    {% for tag in post.tags.all %}
        {{ tag.name }}
    {% empty %}
        No tags
    {% endfor %}
</p>
<h2>Photos</h2>
<ul>
    {% for photo in post.photos.all %}
        <li><img src="{{ photo.url }}" alt="Photo for post {{ post.id }}"></li>
    {% empty %}
        No photos
    {% endfor %}
</ul>
<a href="{% url 'post_update' post.id %}">Edit</a>
<a href="{% url 'post_delete' post.id %}">Delete</a>
{% endblock %}
