{% extends "base.html" %}
{% block content %}
<h1>Posts</h1>
<a href="{% url 'post_create' %}">Create a new post</a>
<ul>
    {% for post in posts %}
    <li>
        <h2><a href="{% url 'post_detail' post.id %}">{{ post.content|truncatewords:10 }}</a></h2>
        <p>By {{ post.user.username }} on {{ post.created_at }}</p>
        <p>Tags: 
            {% for tag in post.tags.all %}
                {{ tag.name }}
            {% empty %}
                No tags
            {% endfor %}
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
