
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Connexion</h2>
  <form method="post" class="needs-validation">
    {% csrf_token %}
    <div class="row g-3">
      {{ form.non_field_errors }}
      <div class="col-md-6">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="col-md-6">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Se connecter</button>
  </form>
</div>
{% endblock %}
