{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <main class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container p-0 mt-5">
          <div class="row mt-5">
            <div class="card col-md-6 offset-md-3 p-5 mt-5">
              <h2 class="mb-4">Connexion</h2>
              <form method="post" class="needs-validation">
                {% csrf_token %}
                {% comment %} <div class="row g-3">
                  {{ form.non_field_errors }}
                  <div class="col-12">{{ form.username.label_tag }}
                    {{ form.username }}</div>
                  <div class="col-12">{{ form.password.label_tag }}
                    {{ form.password }}</div>
                </div> {% endcomment %}
                {{ form|crispy }}
                <button class="btn btn-primary mt-4" type="submit">Se connecter</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
