{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <main class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container p-0 mt-5">
          <div class="row mt-5">
            <div class="card col-md-6 offset-md-3 p-5 mt-5">
              <h2 class="mb-4">Mettre à jour mon profil</h2>
              <form method="post" enctype="multipart/form-data" class="needs-validation">
                {% csrf_token %}
                {% comment %} <div class="row g-3">
                  {{ form.non_field_errors }}
                  <div class="col-md-6">{{ form.username.label_tag }}
                    {{ form.username }}</div>
                  <div class="col-md-6">{{ form.email.label_tag }}
                    {{ form.email }}</div>
                  <div class="col-md-12">{{ form.profile_photo.label_tag }}
                    {{ form.profile_photo }}</div>
                  <div class="col-md-12">{{ form.technologies.label_tag }}
                    {{ form.technologies }}</div>
                  <div class="col-md-12">{{ form.languages.label_tag }}
                    {{ form.languages }}</div>
                </div> {% endcomment %}
                {{ form|crispy }}
                <button class="btn btn-success mt-4" type="submit">Mettre à jour</button>
              </form>
              <div class="text-center mt-5">
                <a href="{% url 'accounts:user_delete' %}" class="link-danger">Delete Account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
