{% load static %}
<footer class="container-fluid text-center text-md-center mb-2">
    <div class="container-footer row text-center text-md-center">
        <div class="container-footer__DEV col-md-12 col-lg-12">
            <p>
                <a href="">Communauté Dev</a>
                — Un réseau social constructif et inclusif pour les développeurs de logiciels. À vos côtés à chaque étape de votre parcours.
            </p>
            <ul class="container-footer__DEV--li listItem">
                <li>
                    <a href="">Accueil</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Annonces</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Podcasts</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Vidéos</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Tags</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">FAQ</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Boutique Forem</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Sponsors</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">À propos</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Contact</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Guides</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Comparaisons de logiciels</a>
                </li>
            </ul>
            <ul class="container-footer__DEV--list2 listItem">
                <li>
                    <a href="">Code de conduite</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Politique de confidentialité</a><span class="circle"></span>
                </li>
                <li>
                    <a href="">Conditions d'utilisation</a>
                </li>
            </ul>
            <div class="container-footer__DEV--li3">
                <p>
                    Construit sur
                    <a href="">Forem</a>
                    — le logiciel
                    <a href="">open source</a>
                    qui alimente
                    <a href="">DEV</a>
                    et d'autres communautés inclusives.
                </p>
                <p>
                    Fait avec amour et
                    <a href="">Ruby on Rails.</a>
                    Dev Community © 2016 - 2023
                </p>
            </div>
        </div>
    </div>
</footer>