{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <main class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container p-0 mt-5">
          <div class="row mt-5">
            <div class="card col-md-6 offset-md-3 p-5 mt-5">
              <h1>Laisser un commentaire sur l'article: {{ post.title }}</h1>

              <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="content">Votre commentaire</label>
                  <textarea class="form-control" id="content" name="content" rows="4" required placeholder="Ecrivez ici..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
